@import "tailwindcss";

@theme {
  --color-gray: #f8f8fa;
  --color-primary: #1aa970;
  --color-secondary: #b5d9cd;
  --color-font-primary: #1b553c;
  --color-font-secondary: #7f8181;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
